{{#>Layout node=this assembly=assembly title=(Concat assembly.name ' - ' name ' Enum')}}
{{> Breadcrumbs this}}

<h2>{{name}} Enum</h2>

{{> Documentation node=summary}}

<h3>Members</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th class="w-75">Summary</th>
        </tr>
    </thead>
    <tbody>
        {{#each members}}
        <tr>
            <td>{{name}}</td>
            <td><code>{{Format value 'D'}}</code></td>
            <td>{{> Documentation node=summary}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation node=examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{{/Layout}}