<div id="deprecationNotice">
    {{#unless isLatest}}
    <div class="alert alert-warning" role="alert">
        You are viewing an older version of the library. Checkout the latest version <a href="{{pathToLatest}}" class="alert-link">here</a>!
    </div>
    {{/unless}}
</div>