{{#>Layout node=this assembly=assembly title=(Concat assembly.name ' - ' name ' Namepsace')}}
<h2>{{MemberName}} Namespace</h2>

{{> Documentation summary}}

{{> MembersDeclaraction members=enums title='Enums'}}
{{> MembersDeclaraction members=delegates title='Delegates'}}
{{> MembersDeclaraction members=interfaces title='Interfaces'}}
{{> MembersDeclaraction members=classes title='Classes'}}
{{> MembersDeclaraction members=structs title='Structs'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members'}}
{{/Layout}}