{{#>Layout node=this assembly=this title=(Concat name ' ' (Semver version))}}
{{> Breadcrumbs this}}

<h2>{{name}}</h2>

{{> Documentation summary}}

{{> MembersDeclaraction members=namespaces title='Namespaces'}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{{/Layout}}