{{#>Layout node=this assembly=declaringType.assembly title=(Concat declaringType.assembly.name ' - ' name ' Constant')}}
{{> Breadcrumbs this}}

<h2>{{name}} Constant</h2>

<p>Constant type: {{MemberReference type}}.</p>
{{> Documentation summary}}

{{#if isStatic}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/static">static</a> constant.</p>
{{else if isShadowing}}
<p>This is a <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/keywords/new-modifier">shadowing</a> constant.</p>
{{/if}}

{{> Documentation node=remarks title='Remarks'}}
{{> Documentation examples}}
{{> Documentation node=relatedMembers title='Related Members' asList=1}}
{{/Layout}}