{{#with data}}
{{#if (HasAny @root content)}}
{{#unless xmlAttributes.title}}
<h3>Example</h3>
{{else}}
<h3>Example: {{xmlAttributes.title}}</h3>
{{/unless}}
{{DocumentationContent @root content}}
{{/if}}
{{/with}}