{{#with data}}
{{each content}}
{{#if @first}}
{{#unless xmlAttributes.title}}
<h3>Example</h3>
{{else}}
<h3>Example: {{xmlAttributes.title}}</h3>
{{/unless}}
{{/if}}
{{DocumentationContent @root this}}
{{/each}}
{{/with}}