<table class="table table-hover">
    <thead>
        <tr>
            {{DocumentationContent documentationElement.columns}}
        </tr>
    </thead>
    <tbody>
        {{DocumentationContent documentationElement.rows}}
    </tbody>
</table>