{{#if title}}<h3>{{title}}</h3>{{/if}}
{{#if asList}}
    {{#node}}
        {{#if @first}}<ul>{{/if}}
            <li>{{> (GetDocumentationPartialName)}}</li>
        {{#if @last}}</ul>{{/if}}
    {{/node}}
{{else}}
    {{#node}}
        {{> (GetDocumentationPartialName)}}
    {{/node}}
{{/if}}